<style>
    .table > tbody > tr > td{
        border-top:0px !important;
    }
    .table{
        margin-bottom:0px;
    }
    th,td{width:100px;}
     tr:nth-child(even) {background-color:#ccc;}
     tr:nth-child(odd) {background-color:#FFF;}
     #table_color{background-color:transparent;}
    #table_color tr:nth-child(even) {background-color:transparent;}
    #table_color tr:nth-child(odd) {background-color:transparent;}
    .loader_in_css{
        top:50%;
        left:50%;
        position:fixed;z-index:3}
</style>
<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<div ng-disabled="true">
    <div id="cover" ng-show="loader"></div>
    <div class="container">
<h3>Product Registration</h3>
<span class="pull-right" style="margin-top:-40px;"><a href="/partner-tools/#/"> <button
        class="btn btn-sm btn-primary" type="submit"> << PartnerTools </button></a></span>
<fieldset>
    <legend><h4>Review</h4></legend>

    <div class="table-responsive">
        <table class="table" >
            <thead >
            <tr >
                <th >Serial Number</th>
                <th>Product Line</th>
                <th>Unit-priced</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="simple in productsReviewList.simpleLineItems">
                <td>{{simple.serialNumber}}</td>
                <td>{{simple.productLineName}}</td>
                <td> </td>
                <td>$ {{simple.price}}</td>
            </tr>
            <tr ng-repeat="composite in productsReviewList.compositeLineItems" >
                <td colspan="4">
                    <table class="table" id="table_color">
                        <tr ng-repeat="component in composite.components">
                            <td>{{component.serialNumber}}</td>
                            <td>{{component.productLineName}}</td>
                            <td style="position:relative;">
                                <input type="checkbox" ng-if="$index==0" style="position:absolute;z-index:1;top:40px;" ng-disabled="true"/>
                                <input type="checkbox" ng-if="(component.price==null) && ($index==0)" checked=checked style="position:absolute;z-index:1;top:40px;" ng-disabled="true"/>

                            </td>

                            <td ng-if="(component.price==null) && ($index==0)">$ {{composite.price}}</td>
                            <td ng-if="component.price!=null">$ {{component.price}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</fieldset>
<div class="form-group ">
    <div>
        <button class="btn btn-sm btn-primary" type="submit"
                ng-click="productRegistrationReview_Next()"
        >
            <i class="glyphicon glyphicon-ok-sign"></i> Submit
        </button>
        &nbsp; &nbsp;
        <button class="btn btn-sm" type="reset" ng-click="productRegistrationReview_Previous()">
            <i class="glyphicon glyphicon-repeat"></i> Previous
        </button>
    </div>
</div>
    </div>
</div>